body{
	margin: 0;
	overflow: hidden;
}
.main{
	height: 100vh;
	width: 100vw;
	position: relative;
	box-shadow: 0 0 5px gray;
}
canvas{
	box-shadow: 0 0 5px gray;
	cursor: crosshair;
}
.toolset{
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	padding: 5px;
}
.sketch-picker{
	width: 115px !Important;
	cursor: pointer;
}